:root {
  /* Main colors */
  --color-primary: #f4c550;
  --color-primary-light: #fbe9ba;
  --color-primary-hover: #ffdc86;

  /* Green shades */
  --color-green: #9fbaae;
  --color-green-light: #cbded3;

  /* Blue shades */
  --color-blue: #9fb7ce;
  --color-blue-light: #bfd6ea;

  /* Red/Pink spectrum */
  --color-red: #e0a39a;
  --color-red-light: #f2c0bd;

  /* Помаранчеві/Теплі відтінки */
  --color-orange: #f0aa8d;
  --color-orange-light: #f4c8ba;

  /* Кольори тексту */
  --color-text-primary: #121417;
  --color-text-secondary: #8a8a89;
  --color-text-white: #ffffff;

  /* Фони */
  --color-bg-primary: #f8f8f8;
  --color-bg-white: #ffffff;
  --color-bg-dark: #121417;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-bg-white);
  color: var(--color-text-primary);
  font-family: var(--font-roboto), sans-serif;
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
