:root {
  /* Main colors */
  --color-primary: #f4c550;
  --color-primary-light: #fbe9ba;

  /* Green shades */
  --color-green: #9fbaae;
  --color-green-light: #cbded3;

  /* Blue shades */
  --color-blue: #9fb7ce;
  --color-blue-light: #bfd6ea;

  /* Red/Pink spectrum */
  --color-red: #e0a39a;
  --color-red-light: #f2c0bd;

  /* Помаранчеві/Теплі відтінки */
  --color-orange: #f0aa8d;
  --color-orange-light: #f4c8ba;

  /* Кольори тексту */
  --color-text-primary: #121417;
  --color-text-secondary: #8a8a89;

  /* Фони */
  --color-bg-primary: #f8f8f8;
  --color-bg-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
