.sectionHero .containerHero {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionHero h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
}

.sectionHero h1 span {
  background-color: var(--color-primary-light);
  border-radius: 8px;
  padding: 0 5px;
  font-style: italic;
  font-weight: 400;
}

.sectionHero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  margin: 0 0 24px 0;
}

.sectionHero a {
  display: inline-block;
  padding: 14px 32px;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  margin-bottom: 24px;
}

.sectionHero a:hover {
  background-color: var(--color-primary-hover);
}

.heroImg {
  width: 100%;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .sectionHero .containerHero {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .sectionHero h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .sectionHero p {
    font-size: 18px;
    margin: 0 0 32px 0;
  }

  .sectionHero a {
    padding: 16px 48px;
    font-size: 18px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .sectionHero .containerHero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .wrapContent {
    border-radius: 30px;
    width: 720px;
    height: 530px;
    padding: 98px 108px 98px 64px;
    background-color: var(--color-bg-primary);
  }

  .sectionHero h1 {
    font-size: 48px;
    margin-bottom: 32px;
  }

  .sectionHero p {
    font-size: 16px;
    max-width: 480px;
    margin-bottom: 64px;
  }

  .heroImg {
    max-width: 568px;
  }
  .sectionHero a {
    margin-bottom: 0;
  }
}
