.mobileNavWrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  width: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.mobileNavWrapper button {
  border: none;
  border-radius: 12px;
  color: var(--color-text-white);
  background-color: var(--color-bg-dark);
  width: 124px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mobileNavWrapper button:hover {
  background-color: var(--color-text-secondary);
}

.mobileNav a {
  text-decoration: none;
  color: #374151;
  font-size: 16px;
  font-weight: 500;
}

.mobileActions {
  margin-top: auto;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.mobileUser {
  font-weight: 600;
}

.mobileAuthButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 700;
}

.mobileRegisterButton {
  border-radius: 12px;
  padding-block: 14px;
  padding-inline: 39px;
  text-align: center;
  color: var(--color-text-white);
  background-color: var(--color-bg-dark);
  width: 134px;
  height: 48px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.desktopNav {
  display: none;
}

.desktopNav a {
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.desktopNav .loginLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 700;
}

.desktopNav .registerLink {
  border-radius: 12px;
  padding-block: 14px;
  padding-inline: 39px;
  text-align: center;
  color: var(--color-text-white);
  background-color: var(--color-bg-dark);
  width: 166px;
  height: 48px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.desktopNav .registerLink:hover {
  background-color: var(--color-text-secondary);
}

.desktopNav button {
  border: none;
  border-radius: 12px;
  color: var(--color-text-white);
  background-color: var(--color-bg-dark);
  width: 124px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  transition: all 0.3s ease;
}

.desktopNav a:hover,
.desktopNav button:hover {
  color: var(--color-primary);
}

.desktopNav button:hover {
  background-color: var(--color-text-secondary);
}

.homeLink {
  margin-right: 28px;
}

.teachersLink {
  margin-right: 28px;
}

.teachersLinkUnauthenticated {
  margin-right: 268px;
}

.favoritesLink {
  margin-right: 240px;
}

.loginLink {
  margin-right: 16px;
}

.loginIcon {
  width: 20px;
  height: 20px;
}

.userName {
  font-weight: 500;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .mobileNavWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .desktopNav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
