.logoLink {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-text-primary);
}

.logo {
  width: 24px;
  height: 24px;
}

/* Текст логотипу */
.logoText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .logoLink {
    gap: 6px;
  }

  .logo {
    width: 26px;
    height: 26px;
  }

  .logoText {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .logoLink {
    gap: 8px;
  }

  .logo {
    width: 28px;
    height: 28px;
  }

  .logoText {
    font-size: 20px;
  }
}
