.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background-color: white;
  border-radius: 30px;
  width: 100%;
  position: relative;
  padding: 64px;
}

.auth {
  max-width: 566px;
}

.booking {
  max-width: 600px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.iconClose {
  width: 32px;
  height: 32px;
  fill: var(--color-text-primary);
}

.closeButton .iconClose:hover {
  fill: #374151;
}
