.statsSection {
  padding: 24px 0 32px;
}
.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 20px 40px;
  position: relative;
  border-radius: 30px;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23f4c550' stroke-width='1.5' stroke-dasharray='14 14' stroke-linecap='butt'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.statNumber {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: var(--color-text-primary);
}

.statLabel {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}

@media only screen and (min-width: 768px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .statNumber {
    font-size: 24px;
  }

  .statLabel {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 40px 122px;
  }

  .statItem {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .statNumber {
    font-size: 28px;
  }

  .statLabel {
    font-size: 14px;
  }
}
